body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav > a {
  padding: 10px;
  background-color: lightsalmon;
  margin-left: 10px;
}

figure {
  font-size: smaller;
}

#featured-property {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featured-property > p {
  text-align: center;
  width: 800px;
}

#details > div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}